html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


* {
  margin:0;
  padding:0;
}

html{
  background-color:#fafafa;
}

header {
  text-align:center;
  // height:30px;
  color:black;
  font-size:1.6rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  justify-content: center;
  align-items:center;
  p{
    padding: 7px;
    border: 3px solid rgb(2, 106, 218);
    background-color: rgb(177, 212, 252);
    color: rgb(3, 105, 214);
    border-radius: 10px;
  }
  margin: 3px 0;
}


.screen {
  position:relative;
  background-clip: padding-box; 
  border: solid 6px transparent; 
  border-radius: 8px;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px; 
    border-radius: 5px; 
    background: linear-gradient(to right, rgb(58, 10, 170), rgb(180, 39, 39));
  }
}



// needed a lot of !importants to override flow library basic styling

.react-flow__node {
  border-radius: 10px  !important;
  border: 5px solid white !important;
  font-size:2.9rem  !important;
  min-width:300px  !important;
  padding-top:20px;
  padding-bottom:20px;
}

.midNode {
  width:400px  !important;
}

.longNode {
  width:600px  !important;
}

.longer {
  width:800px  !important;
}

.react-flow__controls {
  top:20px  !important;
  right:20px  !important;
  bottom:unset  !important;
  left:unset  !important;
}



.tierOne {
  border-color: rgb(136, 8, 241) !important;
  background-color: rgb(203, 153, 245) !important;
  color: rgb(132, 8, 235) !important;
}

.tierTwo {
  border-color: rgb(5, 202, 199) !important;
  background-color: rgb(192, 247, 246) !important;
  color: rgb(0, 121, 119) !important;
}

.tierThree {
  border-color: rgb(241, 6, 202) !important;
  background-color: rgb(247, 168, 234) !important;
  color: rgb(201, 5, 168) !important;
}

.tierFour {
  border-color: rgb(2, 106, 218) !important;
  background-color: rgb(177, 212, 252) !important;
  color: rgb(3, 105, 214) !important;
}

.tierFive {
  border-color: rgb(29, 233, 63) !important;
  background-color: rgb(181, 224, 192) !important;
  color: rgb(0, 114, 15) !important;
}


.react-flow__edge-path{
  stroke-width:10 !important;
  stroke: rgb(29, 233, 63) !important;
}




.react-flow__node {


  p {

    &:hover .tooltip {
      visibility:visible;
    }
  }

  .toolTip {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
  }

}


